html {
    min-height: 100vh;
    height: 100%;
}

body {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tetris {
    display: flex;
    gap: 20px;
}

#snake {
    display: flex;
    gap: 20px;
}

#car-racing {
    display: flex;
    gap: 20px;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    gap: var(--game-board-gap);
    background: var(--game-board-background);
    padding: var(--game-board-gap);
    width: calc(
        (var(--tile-size) + var(--game-board-gap)) * var(--game-board-width) -
            var(--game-board-gap)
    );
}
#next-player-board {
    display: flex;
    flex-wrap: wrap;
    gap: var(----next-player-board-gap);
    background: var(----next-player-board-background);
    padding: var(----next-player-board-gap);
    width: calc(
        (var(--tile-size) + var(--next-player-board-gap)) * var(--next-player-board-width) -
            var(--next-player-board-gap)
    );
    height: calc(
        (var(--tile-size) + var(--next-player-board-gap)) * var(--next-player-board-width) -
            var(--next-player-board-gap) * 4
    );
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    background: var(--tile-color);
}

.active {
    background: var(--tile-active-color-gray);
}

.red {
    background: var(--tile-active-color-red);
}
.orange {
    background: var(--tile-active-color-orange);
}
.yellow {
    background: var(--tile-active-color-yellow);
}
.pink {
    background: var(--tile-active-color-pink);
}
.green {
    background: var(--tile-active-color-green);
}
.blue {
    background: var(--tile-active-color-blue);
}
.magenta {
    background: var(--tile-active-color-magenta);
}
.gray {
    background: var(--tile-active-color-gray);
}
.darkgreen {
    background: var(--tile-active-color-darkgreen);
}

.dashboard-text {
    font-size: 2rem;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.game-btn {
    background-color: #35353a; /* Green background */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.game-btn:hover {
    background-color: #43434d; /* Darker green on hover */
}

.game-btn:focus {
    outline: none; /* Remove focus outline */
}
.username-input {
    margin-bottom: 10px;
    background-color: #35353a; /* Match button background color */
    border: none;
    color: white;
    padding: 15px 30px; /* Same padding as buttons */
    font-size: 16px;
    border-radius: 25px; /* Make it fully rounded */
    cursor: text; /* Change cursor to indicate text input */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center; /* Center the placeholder text */
    width: 100%; /* Full width */
}

.username-input::placeholder {
    color: #ccc; /* Placeholder text color */
}

.username-input:focus {
    background-color: #43434d; /* Darken the background on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on focus */
}

#records-element {
    !important;font-size: 15pt;
}