html {
    min-height: 100vh;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tetris {
    display: flex;
    gap: 20px;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    gap: var(--game-board-gap);
    background: var(--game-board-background);
    padding: var(--game-board-gap);
    width: calc(
        (var(--tile-size) + var(--game-board-gap)) * var(--game-board-width) -
            var(--game-board-gap)
    );
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    background: var(--tile-color);
}

.active {
    background: var(--tile-active-color);
}

.dashboard-text {
    font-size: 2rem;
}
